.sidebar{
     background-color: rgb(255,255,255);
     padding: 4rem 0 0 2rem;
     display: flex;
     flex-direction: column;
}
.sidebar > a:first-child{
     padding: 0;
}
.sidebar > a > img {
     width: 100%;
     transition: all 0.5s;
}
.sidebar a {
     text-decoration: none;
     transition: all 0.5s;
     color: rgba(0,0,0,0.493);
     padding: 1rem 0;
     font: 200 1rem "Roboto";
}
.sidebar a:hover{
     color: tomato;
     transform: scale(1.1);
}
.sidebar a > p{
     display: flex;
     align-items: center;
}
.sidebar a > p > svg {
     margin-right: 0.5rem;
}